@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Thai:wght@300;400;500;600;700&family=IBM+Plex+Mono:wght@400;500&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    font-family: 'IBM Plex Sans Thai', sans-serif;
    color: #111827;
  }

  code, kbd, pre, .mono {
    font-family: 'IBM Plex Mono', monospace;
  }
}

@layer utilities {
  .plate {
    @apply font-mono bg-gray-900 text-white px-2 py-0.5 rounded text-sm font-medium tracking-wider;
  }
}
